/* 
    委托列表
*/

.my-tabs{
    .ant-table-thead{
        th{
            padding:0 16px;
            height: 30px;
            line-height:30px;
            font-size: 12px;
            color: #8EA0B5;
            border:0;
            border-bottom: 1px solid rgba(255,255,255, 0.1);
            background: transparent;
        }
        th:first-child{
            width: 15%;
        }
    }
    .ant-table-tbody > tr > td {
        border:0;
        color:rgb(227, 236, 240);
        font-size: 12px;
        line-height: 24px;
        height: 24px;
        padding:0 16px;
    }
    .ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td{
        background: transparent;
    }
    .ant-table-tbody tr:first-child  td{
        padding-top:10px;
    }
    .ant-table-tbody tr:last-child  td{
        padding-bottom:10px;
    }
    .control{
        cursor: pointer;
        color: #FF4B4B;
    }
}