/* 
    交易页 买卖 输入框 组件 样式
*/
.tradeInp-wrap{
    width:276px;
    height: 356px;
    position: relative;

    .tradeInp-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        h3{
            font-size: 20px;
        }
        .tradeInp-title-des{
            font-size: 12px;
            color: #FFFFFF;
        }
    }

    .prcieInp-wrap {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 0px;
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        span{
            color:#fff;
            font-size: 12px;
        }
        input {
            width:166px;
            background: transparent;
            border: none;
            outline:none;
            color:#fff;
            font-size: 12px;
            padding-left:0;
            padding-right: 0;
        }
        input:focus{
            box-shadow:none;
        }
    }
   .myBtn{
       position: absolute;
       bottom:15px;
       line-height: 38px !important;
   }
  
}
.price-des{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #6B7F97;
    height: 36px;
    line-height: 36px;
 
    box-sizing: content-box;
}

.selectPercent{
    display: flex;
    height: 20px;
    line-height: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    span{
       
        width: 61px;
        border: 1px solid rgba(255,255,255,0.1);
        border-radius: 0px;
        cursor: pointer;
        font-size: 12px;
        color: #8EA0B5;
    }
    .activePercent{
        background:#89B738;
        color:#fff;
    }
}
.sale{
    .activePercent{
        background:#E45252;
        color:#fff;
    }
}
.fees-wrap{
    p{
        font-size: 12px;
        color: #FFFFFF;
        height: 12px;
        line-height: 12px;
        margin-top: 25px;
        span{
            line-height: 16px;
        }
    }
}