/* 
    交易也 交易区表格样式
*/
#KlineSelectCoin{
    .ant-tabs-content{
        box-sizing: border-box;
    }
    .trade-tab{
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;

        .trade-area-title{
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            color: #8EA0B5;
            border-top: 1px solid rgba(255,255,255,0.1);
            display: flex;

            p{
                flex:1;
            }
          
        }
        ul {
            font-size: 12px;
            padding-top: 4px;
            li{
                cursor: pointer;
                height: 36px;
                line-height: 36px;
                color: rgb(227, 236, 240);
                display: flex;
                font-size: 14px;

                div{
                    flex:1;
                }
                span{
                   letter-spacing: 1px;
                }

                .custom-select{
                    color:#BCBCBC;
                 
                    font-size: 14px;
                }
                .custom-slect-add{
                    color: #3DADD9;
                }
            }
            .select-coin-tr{
                background: #2B3E55;
            }
            tr td:last-child{
                text-align: right;
            }
        }
    }
}
