.coin-wrap{
    width: 100%;
    height: 100%;
    background: #fff;
    .coin-name-wrap{
        padding:0 10px;
        border-bottom: 1px solid #eee;
        .coin-name{
            display: inline-block;
            span{
                display: inline-block;
            }
            width: 24%;
            height: 45px;
            line-height: 45px;
            cursor: pointer;
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .coin-name:hover{
            color:#49CCFF;
        }
    }
}