/*
    关于我们文章页
*/

.artical-wrap{
    padding: 27px 10px 0 30px;
    h2{
        font-size: 24px;
    }
    .artical-content{
        padding-right: 18px;
        p{
            line-height: 24px;
            font-size: 12px;
            margin-top: 24px;   
        }
    }
    
}