.kline-wrap{
    .kline-hd{
        display: flex;
        height: 40px;
        align-items: center;
        padding-left:10px;
        color:rgb(227, 236, 240);
        background: #223143;

        h4{
            margin-right: 10px;
            color:rgb(227, 236, 240);
            font-size: 16px;
        }
        p{
            margin-right: 10px;
            color:rgb(227, 236, 240);
            font-size: 12px;
        }
    }
}