#assets{
    width: 1200px;
    margin: 40px auto;
    border: 1px solid rgba(40,40,40,0.12);
    background: #fff;
    .personalNav{
        font-size:14px;
        a:last-child{padding-right:0}
        }
        .anticon-caret-down{
            transform: scale(0.75);
            color: #8A8A8A;
        }
       
}

 .asset-modal{
    .ant-modal-header,.ant-modal-footer{
        border:0;
    }

    p {
        text-align: center;
        font-size: 16px;
        color: #282828;
        letter-spacing: -0px;
        text-align: center;
        line-height: 16px;
        padding-top: 40px;
    }

    .goto{
        text-align: center;
        width: 200px;
        height: 36px;
        line-height: 36px;
        color: #fff;
        font-size: 14px;
        margin: 0 auto;
        margin-top:40px;
        background: #3dadd9;
        margin-bottom: 30px;
        cursor: pointer;
    }
 }