/* 
    Home页样式
*/
#home{
    background: #f4f5f6;
    .ant-carousel {
        .slick-slide {
            text-align: center;
            height: auto;
            line-height: auto;
            overflow: hidden;
           
        }
    }
    .frameWork{
        height: 500px;
        text-align: center;
        background: rgb(69, 66, 119);
        font-size: 32px;
        color:transparent;
      // background: url('../assets/banners.jpg') no-repeat 100% 100%;
       background-size: 100% 100%;
    }
  
}
.joinT-model {
    text-align: center;
    border-radius: 20px !important;
    background: url("../assets/home_bg_haibao.png");
    background-size: 100% 100%;
    height: 740px;
    .ant-modal-body {
        padding: 0;
    }
    .ant-modal-content {
        background: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .ant-modal-footer {
        border-top: none;
        display: flex;
        width: 100%;
        padding: 10px 45px;
    }
    .ant-modal-footer .btn1 {
        border: 1px solid #3fb4f7 !important;
        color: #3fb4f7;
        background: #222226;
        margin-bottom: 20px;
        border-radius: 4px !important;
        margin-left: 0;
    }
    .ant-modal-footer .btn1:hover {
        color: #58ccf3;
        border: 1px solid #58ccf3;
    }
    .act_detail {
        text-align: center;
        color: #2873a6;
        cursor: pointer;
    }
}