.neawsDeBox{
    width: 1200px;
    background: #fff;
    margin: 40px auto;
    border: 1px solid rgba(40,40,40,0.12);
    border-radius: 2px;
    .content{
        padding: 100px 40px;
    }
    p{
        span{line-height: 30px}
    }
}