/*
    关于我们相关页面
*/

#SiteContent{
    width: 1200px;
    min-height: 688px;
    margin: 40px auto;
    font-family: 'FZLTXHK--GBK1-0';
    .ant-tabs-bar{
        width: 280px;
        height: 688px;
        background: #FFFFFF;
        border: 1px solid rgba(40,40,40,0.12);
        border-radius: 2px;
        margin-right: 15px;
        .ant-tabs-nav-container{
            padding: 12px 0;
            .ant-tabs-tab{
                height: 44px;
                text-align: left;
                line-height: 44px;
                padding: 0 0 0 74px;
                font-size: 14px;
                color: #4b4f52;
            }
            .ant-tabs-tab-active{
                background: url('../assets/03_01.triangle.png') no-repeat 60px center;
                color: #3DADD9;
            }
            .ant-tabs-ink-bar{
                left: 0;
            }
        }
    }
    .ant-tabs-content{
        width: 905px;
        min-height: 688px;
        padding: 0;
        background: #FFFFFF;
        border: 1px solid rgba(40,40,40,0.12);
        border-radius: 2px;
    }
    .ant-tabs-ink-bar{
        background-color: #3DADD9
    }
}