/* 
    委托管理页面样式
*/

.trust{
    width: 100%;
    background: #F4F7FA;
    height:768px;
    padding-top: 40px;
    .trust-content{
        width: 1200px;
        margin: 0 auto;
        background: #FFFFFF;
        border: 1px solid rgba(40,40,40,0.12);
        border-radius: 2px;
        .coin-search-wrap{
            display: flex;
            align-items: center;
            padding-bottom:40px;
            .select-date{
                margin-top: 40px;
                margin-left: 30px;
                .my-datepiker{
                    input{
                        font-size:12px;
                        color:#8A8A8A 
                    }
                   
                } 
                
            }
        }
        .ant-pagination-item-active{
            background: #1890ff;
            a{
                color:#fff;
            }
            
        }
            // 修改默认样式--xu
    .ant-tabs-tab{font-size:14px;position:relative;}
    .ant-tabs-vertical > .ant-tabs-bar .ant-tabs-ink-bar{width:0!important;}
    .ant-tabs-tab-active::after{
        content:'\e635';
        display: inline-block;
        font-family: "iconfont" !important;
        position:absolute;
        right:16px;
        top:12px;
        font-size:6px; 
    }
    .ant-btn-primary {
        background: #3dadd9!important;
        border-color: #3dadd9!important;
    }
    .ant-btn-primary:hover, .ant-btn-primary:focus{
        background: #49CCFF!important;
        border-color: #49CCFF!important;
    }

    }
    .my-datepeker-dropdown{
        .ant-calendar-header{
            background:#3dadd9; 
           a{
            color:#fff;
           }
        }
    }
    .anticon-caret-down{
        transform: scale(0.75);
        color: #8A8A8A;
    }
    .pageBox{
        justify-content:center;
        padding-bottom:30px;
        margin-top:30px;
        display: none;
    }

}
