.block{
    height: 670px;
    text-align: center;
    background: url('../../assets/bannerBg.jpg') no-repeat;
    background-color:rgba(244,245,246,1);
    background-size: 100% 440px;
    // border-bottom: 1px solid #333;
    // margin-bottom: 30px;
   
    .block-top{
        padding-top: 170px;
       
        
        h3{
            font-size: 56px;
            color: #FFFFFF;
            line-height: 64px;
        }

        p{
            
            font-size: 20px;
            color: RGBA(255, 255, 255, 0.6);
            letter-spacing: 0.06px;
            line-height: 28px; 
            margin-top: 24px;
        }
    }

    .block-bottom {
        // width: 1400px;
        margin: 0 auto;
        padding-top: 80px;
        display: flex;
        font-size: 14px;
        color: #A7B5C6;
        // padding-left: 150px;
        display: flex;
        justify-content: center;


        .block-items{
            width:384px;
            text-align: center;
            // padding: 0 50px;
            // height: 148px;
            // width: 340px;
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            box-sizing: border-box;
            background:rgba(255,255,255,1);
            padding: 30px 20px;
            border-radius:4px;
            margin-right: 24px;
            // border-right: 2px solid rgba(255,255,255,0.12);
         
            p{
             
                font-size: 14px;
                color: #A7B5C6;
                letter-spacing: 0.04px;
                line-height: 20px;
            }

            i {
                display: inline-block;
                background: url('../../assets/bitcoin01.svg') no-repeat 100% 100%;
                width: 22px;
                height: 37px;
                vertical-align: top;
                margin-right: 8px;
            }

            .p-large{
              
                font-size: 34px;
                // color: #3EBAE4;
                color: #000;
                letter-spacing: 0.01px;
                line-height: 42px;
                margin: 16px 0 50px 0;
            }

            .p-small{
              
                // height: 16px;
                line-height: 16px;
                margin-top: 8px;

                i{
                    background:  url('../../assets/bitcoin02.svg') no-repeat 100% 100%;
                    width: 11px;
                    height: 14px;
                    vertical-align: inherit;
                }
                color: #000;
                .banner-link{
                    font-size: 12px;
                    color: #fd9635;
                    display: inline-block;
                }
            }

            .dashed{
                height: 2px;
                width: 300px;
                opacity: 0.12;
                border: 1px dashed #FFFFFF;
                margin: 21px 0;
            }
        }
        .block-items:first-child{
            // padding-left: 0 ;
        }
        .last-items{
            // border-right: 0;
            // padding-right: 0;
            // flex: 1;
            margin-right: 0;
           div {
            padding-bottom: 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
           }
           div:last-child {
            border-bottom: none;
           }
            .p-small{
              
                color: #000;
            }

            .last-p{
                margin-top:16px;
            }

            .last-p-sea{
                margin-top: 14px;
            }
        }
    }
}