
#home-tab-search{
    height: 30px;
    padding: 0 8px;
    line-height: 30px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #EDEEEF;
    border-radius: 2px;
    box-sizing: borde-box;
    cursor: pointer;
    display: inline-block;
    
    #search-icon{
        transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        font-size: 14px;
        color: #b6c2d0;
    }
    &:hover{
        input {
            width:160px;
            color: #3daed9;
        }
        #search-icon{
            color:#3daed9;
        }
    }
    input{
        width: 0;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
        color: #A1AFC0;
        transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-appearance:textfield;
        border:0;
        outline: 0;
    }
    input.active{
        width:160px;
    }
}