@mixin padding {
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
@mixin inpCSS {
    border-radius: 0;
    height: 40px;
    font-size: 12px;
   
}
.withdraw-wrap{
    .ant-table-thead > tr > th{
        columns: #808080;
        background:#F4F7FA;
        font-size: 12px;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
        padding : 10px 16px;

    }
   
 
    .ant-table-tbody > tr > td{
        font-size: 12px;
    }
    .assets-wrap-top{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin: 30px 0;   
        .select-coin{
            margin-top: 0 !important;
        }
        .coinAssets{
            float: left;
            li{
                float: left;
                padding: 0 36px;
                border-left: 1px solid rgba(40,40,40,.12);
                height: 40px;
                font-size: 12px;
                line-height: 20px;
                color: #8A8A8A;
                span{
                    color: #3DADD9;
                    font-weight: bold;
                }
                .freeze{
                    color: #8A8A8A;
                }
            }
            li:first-child{
                border-left: none;
                margin-left: 24px;
            }
        }
    }
    .ant-form-item-children {
        .prcieInp-wrap {  
            position: relative;
            input {
               @include inpCSS;
               position: absolute;
               z-index: 10;
            }
            span:last-child{
                position: absolute;
                right: 15px;
                z-index: 11;
                text-align: right;
               div{
                   width: 100%;
                   display: flex;
                   font-size: 12px;
                   color:#3DADD9;
               }
            }
        }
        
    }
    .phone{
        .ant-form-item-children{
            display: flex;
            input{
                @include inpCSS;
            }
            button{
                height: 40px;
                font-size: 12px;
                color:#3dadd9;
                border-color: #3DADD9;
                margin-left: 14px;
                border-radius: 2px;
            }
            .reSend{
                border-color: transparent;
                background: #DEDEDE;
                border-radius: 2px;
                color:#fff;
            }
        }
    }
    .fee{
        position: relative;
        top: -10px;
        width: 400px;
        margin-left: 150px;
        display: flex;
        align-items: left;
        justify-content: space-between;
        font-size: 12px;
        color:#8A8A8A;
       
    }
   .wallet-wrap{
       position: relative;
       .wallet-inp{
        position: absolute;
        width: 100%;
        top:0;
        left: 0;
        background: #FFFFFF;
      
       @include padding;
       padding-right: 0;
       padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
          .placeHolader{
                font-size: 12px;
                color: #8A8A8A;
                width: 100%;
                height: 100%;
                border: 0;

          }
          .placeHolader:focus{
              border: 0;
              box-shadow:none;
          }
          .wallet-inp-icon{
            transition: all 0.3s ease-in-out;
            transform: scale(.8);
          }
          .wallet-inp-icon-down{
            transform:rotate3d(0, 0, 1, 180deg) scale(.8);
          }

          .add-ico-wrap{
              display: inline-block;
              padding-right: 12px;
              padding-left: 12px;
              position: relative;
          }
          .add-ico-wrap::before{
              content: '';
              width: 1px;
              height: 55%;
              position: absolute;
              top:11px;
              left: 0;
              background: rgba(40, 40, 40, 0.12);
          }
       }
      
       .wallet-list{
           transition: all 0.3s ease-in-out;
           position: absolute;
           top: 41px;
           left: 0;
           background: #fff;
           border-radius: 0 0 2px 2px;
           z-index: 99;
           cursor: pointer;
           width: 100%;
           .add-address{
                display: flex;
                background: #F6FBFF;
                @include padding;
                border:0;
                align-items: center;
                p{
                    margin-left: 8px;
                    font-size: 12px;
                    color:#3DADD9 ;
                    text-decoration:underline;
                }
           }
           .address-wrap{
            @include padding;
            border:0;
               li{
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  span{
                      font-size: 12px;
                  }
               }
           }
       }
      
   }
    .wallet-wrap-show{
       
       height: 222px;
        border:1px solid rgba(61,173,217,0.50);
        box-shadow: 0 0 8px 0 rgba(61,173,217,0.22);
        border-radius: 2px;
        .wallet-inp{
            border-color: transparent;
        }
}
   /* 提示文字 */
   .withdraw-tips-wrap{
       padding: 0 30px;
        ul li {
            height: 30px;
            line-height: 30px;
            position: relative;
            span{
                display: inline-block;
                height: 30px;
                line-height: 30px;
            }
            span:first-child{
                width:4px;
                height:4px;
                display:inline-block;
                background:#000000;
                border-radius:50%;
            }
            span:last-child {
                font-size: 12px;
                position: absolute;
                left:15px;
            }
        }
    }
       .ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a{
	color: #1890ff!important;}
}
 /* 二次验证弹出框样式 */
 .modal-content-wrap{
     padding-top: 40px;
    .warning{
        display: block;
        margin: 0 auto;
    }
    p{
        width: 100%;
        text-align: center;
        font-size: 14px;
        height: 14px;
        line-height: 14px;
    }
    p.top-p{
        margin-top: 30px;
        color:#FF4B4B;
        
    }
    p.bottom-p{
        color: #4b4f52;
        margin-top: 12px;
    }
    .button-wrap{
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 30px auto 0;
        .my-custom_one-button{
            background: #3dadd9;
            height: 44px;
            line-height: 44px;
            padding: 0 40px;
            font-size: 14px;
            color: #FFFFFF;
            border-radius: 0px;
            cursor: pointer;
            display: flex;
            align-items: center;
            img{margin-right: 15px;}
        }
    }
    .modal-tips{
        text-align: right;
        color: #808080;
        margin-top: 30px;
        text-decoration: underline;
        width: 89%;
        margin-bottom: 40px;
    }
    .ant-modal-content{width:500px}
}
.vertical-center-modal {
    text-align: center;
  }
  .vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  } 
  .vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
  }

.widthdraw-note{
    h3{
        margin: 40px 0 11px 30px;
    }
}
.common-span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-span{
    padding:6px 15px;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.control-span:hover{
    background: #78A429;
    color:#fff !important;
}
.ant-table-tbody > tr > td.control{
    padding-left: 0;
}
// 修改样式--xu
.ant-form label{font-size:12px;}
.colum1{
    padding-left: 30px !important;}