/* 
    底部样式
*/
#footer{
    // background: #223143;
    background:rgba(37,46,51,1);
    font-size: 14px;
    color: #C1CCDA;
    .footer-content{
        width: 1200px;
        margin: 0 auto;
        .footer-top{
            display: flex;
            justify-content: space-between;
            padding-top:30px;
            .footer-top-l{
                flex-basis: 800px;
                .footer-top-l-link{
                    display: flex;       
                    flex-wrap: wrap;        
                    a{
                        line-height: 40px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        color: #C1CCDA;
                        margin-right: 50px;
                    }
                    a:hover{
                        color:#49CCFF;
                    }
                }
                p{
                    font-size: 12px;
                    line-height: 30px;
                    color:#8D9FB4;
                }
            }
            .footer-top-m {
                position: relative;
                img {
                    width: 100px;
                    position: absolute;
                    left: -70px;
                    top: 10px;
                }
            }
            .footer-top-r{
                .footer-logo{
                   width:100%;
                   text-align: right;
                   a{
                        display: inline-block;
                       background: url('../assets/logo_white.svg') no-repeat 100% 100%;
                        width:110px;
                        height: 26px;

                        background-repeat:no-repeat;
                        background-size: contain;
                        background-position: top right;
                   }
                }
                p{
                    line-height: 50px;
                    font-size:12px;
                }
            }
        }
        .order-link{
            line-height: 30px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .order-link-l{
                padding-top:25px;
                a{
                    display: inline-block;
                    margin-right: 28px;
                    width: 14px;
                    height: 15px;
                    color:transparent;
                    transition: all 0.3s ease-in-out; 
                }
                a:nth-child(1){
                    background: url('../assets/01_01.contact_icon0101.svg') no-repeat 100% 100%;
                }
                a:nth-child(2){
                    background: url('../assets/01_01.contact_icon0201.svg') no-repeat 100% 100%;
                }
                a:nth-child(3){
                    background: url('../assets/01_01.contact_icon0301.svg') no-repeat 100% 100%;
                }
                a:nth-child(1):hover{
                    background: url('../assets/01_01.contact_icon0102.svg') no-repeat 100% 100%;
                }
                a:nth-child(2):hover{
                    background: url('../assets/01_01.contact_icon0202.svg') no-repeat 100% 100%;
                }
                a:nth-child(3):hover{
                    background: url('../assets/01_01.contact_icon0302.svg') no-repeat 100% 100%;
                }
            }
            .order-link-r{
                font-size: 12px;
                color: #8D9FB4;
            }
        }
        .ant-divider{
            background:  #8D9FB4;
            opacity: 0.1;
        }
        .footer-bottom{
           padding-bottom: 30px;
            h4{
                font-size: 12px;
                color: #C1CCDA;
                float: left;
                height: 24px;
                line-height: 24px;
            }
            .footer-bottom-r{
                float: left;
                margin-left: 35px;
                height: 24px;
                line-height: 24px;
                a{
                    display: inline-block;
                    font-size: 12px;
                    color: #8D9FB4;
                    margin-right: 40px;
                    transition: all 0.3s ease-in-out;
                }
                a:hover{
                    color:#49CCFF;
                }
            }
        }
    }
    .ant-btn {
        border-radius: 26px !important;
        i {
            background: url('../assets/01_01.contact_icon0301.svg') no-repeat 100% 100%;
        }
    }
}
    .joinT-model {
        text-align: center;
        border-radius: 20px !important;
        h1 {
            font-size: 28px;
            color: #fff;
            line-height: 70px;
        }
        .ant-modal-content {
            background: #222226;
            
        }
        .ant-modal-footer {
            border-top: none;
            display: flex;
            flex-direction: column;
        }
        .ant-modal-footer .btn1 {
            border: 1px solid #23bd68 !important;
            color: #fff;
            background: #222226;
            margin-bottom: 20px;
            border-radius: 4px !important;
        }
        .ant-modal-footer .btn2 {
            background: #23bd68;
            color: #222226;
            margin-left: 0;
            border-radius: 4px !important;
            margin-bottom: 20px;
        }
        .ant-modal-footer {
            padding: 10px 45px;
        }
    }
    .joinT {
        background: #00b07c;
        color: #fff;
        position: fixed;
        right: 20px;
        bottom: 20px;
        border-radius: 26px !important;
        padding: 0 20px;
        box-sizing: border-box;
        font-weight: 700;
        height: 47px;
        line-height: 47px;
        font-size: 14px;
        img {
            width: 20px;
            margin-right: 8px;
            margin-bottom: 3px;
        }
    }
    .joinT:hover {
        background: #00b07c;
        color: #fff;
    }
    .joinT:focus {
        background: #00b07c;
        color: #fff;
    }
    